Цe have 2 data sets. Both sets contain the columns:
1) Object ID
2) Longitude
3) Latitude

For each object from 1 data set, the script finds the 3 closest objects, calculating the distance between the given coordinates

In [ ]:
# testing

geodesic((row1['latitude'], row1['longitude']), (row2['latitude'], row2['longitude'])).meters

In [1]:
import pandas as pd
from geopy.distance import geodesic
from tqdm import tqdm

# Load data from Excel files
df1 = pd.read_excel('Координаты островок - удаленные из кср.xlsx')
df2 = pd.read_excel('Координаты Суточно РУ.xlsx')

# Define a function to calculate geographical distance
def calculate_distance(row1, row2):
    return geodesic((row1['latitude'], row1['longitude']), (row2['latitude'], row2['longitude'])).meters

# Initialize an empty list to store results
results = []

# Iterate over each row in df1 with tqdm progress bar
for index1, row1 in tqdm(df1.iterrows(), total=len(df1), desc="Calculating distances"):
    distances = []
    # Iterate over each row in df2
    for index2, row2 in df2.iterrows():
        # Calculate distance between coordinates
        distance = calculate_distance(row1, row2)
        # Store distance and ID from df2
        distances.append({'ID': row2['ID'], 'longitude': row2['longitude'], 'latitude': row2['latitude'], 'distance': distance})
    # Sort distances and select the three shortest ones
    distances.sort(key=lambda x: x['distance'])
    shortest_distances = distances[:3]
    # Add results to the list
    result = [row1['ID'], row1['longitude'], row1['latitude']]
    for i in range(3):
        if i < len(shortest_distances):
            result.extend([shortest_distances[i]['ID'], shortest_distances[i]['longitude'], shortest_distances[i]['latitude'], shortest_distances[i]['distance']])
        else:
            result.extend([None, None, None, None])
    results.append(result)

# Create a DataFrame from the results list
columns = ['ID1', 'Long1', 'Lat1', 'ID2_1', 'Long2_1', 'Lat2_1', 'Shortest_distance_1', 'ID2_2', 'Long2_2', 'Lat2_2', 'Shortest_distance_2', 'ID2_3', 'Long2_3', 'Lat2_3', 'Shortest_distance_3']
result_df = pd.DataFrame(results, columns=columns)
result_df

Calculating distances: 100%|██████████| 1672/1672 [1:01:38<00:00,  2.21s/it]

,ID1,Long1,Lat1,ID2_1,Long2_1,Lat2_1,Shortest_distance_1,ID2_2,Long2_2,Lat2_2,Shortest_distance_2,ID2_3,Long2_3,Lat2_3,Shortest_distance_3
0,9998561.0,40.533394,64.542803,1037809.0,40.534558,64.543031,61.330202,1508912.0,40.534558,64.543031,61.330202,1029915.0,40.534558,64.543031,61.330202
1,10000595.0,40.527242,64.536413,938539.0,40.527251,64.536597,20.561989,949295.0,40.530423,64.536354,152.776989,1060691.0,40.530423,64.536354,152.776989
2,10370418.0,40.531415,64.541896,1349751.0,40.531638,64.542260,42.008379,311662.0,40.531638,64.542260,42.008379,1103189.0,40.531638,64.542260,42.008379
3,10002505.0,35.706534,65.022271,1360343.0,35.704054,65.021956,122.046746,1360325.0,35.704054,65.021956,122.046746,1271961.0,35.709964,65.021113,206.916300
4,9991107.0,40.533930,64.539535,1143695.0,40.533915,64.539549,1.704638,1143635.0,40.533915,64.539549,1.704638,855575.0,40.531225,64.539277,132.944590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1667,10052949.0,32.336790,62.103809,1654650.0,32.337863,62.104448,90.614893,1654810.0,32.337863,62.104448,90.614893,1154895.0,32.338703,62.103180,122.039325
1668,10003530.0,34.366569,61.798230,943261.0,34.366569,61.798230,0.000000,1570102.0,34.366569,61.798230,0.000000,343937.0,34.366569,61.798230,0.000000
1669,10015996.0,34.498496,62.918582,922777.0,34.498496,62.918582,0.000000,1476029.0,34.498496,62.918582,0.000000,1599760.0,34.498496,62.918582,0.000000
1670,6969284.0,30.868647,59.977738,1153373.0,29.732125,60.868698,117359.306525,1271027.0,29.949646,61.178883,142999.802009,1146169.0,29.949646,61.178883,142999.802009
1671,8664768.0,33.554236,60.736448,1592469.0,33.735681,61.016859,32762.830562,1605446.0,33.056118,60.934907,34970.318778,1105857.0,32.987289,60.973010,40551.506561

In [2]:
result_df.to_excel('ostrovok_deleted__sutochoRU_distance_results.xlsx', index=False)